@font-face {
    font-family: Inter;
    src: url("material/Inter.ttf");
}

body {
    margin: 0 20px;

    font-family: Inter;
}

img {
    max-width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    display: flex;
    padding: 0 10px;
}

.nav-items p {
    margin: 0;
    padding: 5px;
}

.nav-items {
    border-radius: 5px;
}

#logo {
    height: 25px;
}

#demo {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}

.get-free {
    background-color: #050505;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 550;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.get-free:hover {
    background-color: #353535;
}

.nav-items:hover {
    background-color: #e5e5e5;
}

/* Main */

main {
    display: flex;
    justify-content: center;

    line-height: 1.3;
}

#container {
    max-width: 1000px;
}

h1 {
    letter-spacing: -1px;
}



#bark-better {
    display: flex;

    padding: 50px 0;
}

#bark-better div {
    flex-grow: 1;
    flex-basis: 0;

    margin: 20px;
}

#bark-better h1 {
    margin: 0;

    font-size: 45px;
    font-weight: bold;
    line-height: 1.0;
}

#bark-better p {
    color: #7f7f7f;
    font-size: 18px;
}

#bark-better .get-free {
    margin-top: 10px;
    display: inline-block;
}

#company-logos {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    padding: 20px;
    text-align: center;
}

#company-logos img {
    height: 25px;
    margin: 10px;
}



.screenshot {
    padding-top: 80px;
}

.h1-text {
    width: 50%;
}

.h1-text p {
    color: #7f7f7f;
    padding-bottom: 20px;
    line-height: 1.5;
}

.screenshot h1 {
    margin: 0;

    font-size: 45px;
}

.screenshot h2 {
    text-align: center;
    color: #999999;
    font-size: 36px;
}

.images {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face p {
    margin: 0;
    color: #999999;
    font-size: 13px;
}

.face strong {
    font-size: 15px;
    font-weight: 450;
}

.face img {
    height: 50px;
    padding-right: 10px;
}

#last {
    padding-bottom: 80px;
}



#free-planContainer {
    display: flex;
    justify-content: center;

    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 80px 0;
}

#free-plan {
    width: 600px;
}

.get-barky-free {
    text-align: center;
    padding-bottom: 60px;
}

.get-barky-free p {
    color: #7f7f7f;
    padding: 0 20px 10px;
}

#list {
    background-color: #f4f4f4;
    color: #666666;

    padding: 20px;
    border-radius: 5px;
}

.items {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

#black {
    color: #121212;
}

#no-border-bottom {
    border-bottom: none;
}

.items img {
    height: 15px;
}



#every-team {
    text-align: center;
    padding: 50px 0;
}

#every-team h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

#every-team p {
    color: #7f7f7f;
    padding-bottom: 20px;

    font-weight: 450;
}

#every-team a {
    color: #121212;
    font-weight: 500;
}

#every-team a:hover {
    color: #087fe7;
}

#emoji-container {
    display: flex;
    justify-content: center;
}

.emojiText-boxes {
    flex-grow: 1;
    flex-basis: 0;

    text-align: center;
    padding: 20px;
}

#product {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}



#dogs-love-usContainer {
    padding: 50px 0;
}

#dogs-love-us {
    text-align: center;
}

#G2 {
    display: flex;

    padding-bottom: 40px;
}

#G2 div {
    flex-grow: 1;
    flex-basis: 0;
}

#G2 a {
    color: #050505;
}

#percent-container {
    display: flex;
}

.percent {
    flex-grow: 1;
    flex-basis: 0;

    text-align: center;
    color: #666666;
    border-right: 1px solid #e5e5e5;
}

.percent h1 {
    font-size: 53px;
    margin: 0;
}

.percent p {
    margin: 0;
}

#no-border-right {
    border-right: none;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;

    border-top: 1px solid #e5e5e5;
    padding: 80px 0;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;

    max-width: 1200px;
}

#barky-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 20px;
}

#barky-container p {
    margin-bottom: 20px;
}

#logo2 {
    height: 35px;
    margin-bottom: 20px;
}

.shares {
    height: 25px;
    margin-right: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info a {
    text-decoration: none;
    color: #666666;
    font-weight: 450;
}

.info a:hover {
    text-decoration: underline;
}

/* 