@font-face {
    font-family: Inter;
    src: url("material/Inter.ttf");
}

:root {
    --clr-bg-text: white;
    --clr-border-hover: #e5e5e5;
    --button-hover: #353535;
    --button-bg: #050505;
    --button-shadow: rgba(0, 0, 0, 0.2);
    --clr-p: #7f7f7f;
    --clr-quote: #999999;
    --img-shadow: rgba(0, 0, 0, 0.1);
    --bg-list: #f4f4f4;
    --clr-list-text: #666666;
    --clr-link: #121212;
    --link-hover: #087fe7;

    --fs-percent: 53px;
    --fs-big-h1: 45px;
    --fs-h: 35px;
    --fs-quote: 26px;
    --fs-emoji: 24px;
    --fs-big-p: 18px;
    --fs-name: 15px;
    --fs-nav-p: 14px;
    --fs-footer-links: 13.5px;
    --fs-footer-p: 13px;
    --fs-name-title: 12px;
}

body {
    margin: 0 20px;
    font-family: Inter;
}

img {
    max-width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
    background-color: var(--clr-bg-text);
    border-bottom: 1px solid var(--clr-border-hover);

    position: fixed;
    left: 20px;
    right: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    display: flex;
    padding: 0 10px;
}

.nav-items p {
    margin: 0;
    padding: 5px;
    font-size: var(--fs-nav-p);
    font-weight: 400;
}

.nav-items {
    border-radius: 5px;
}

#logo {
    height: 25px;
}

#demo {
    border-right: 1px solid var(--clr-border-hover);
    padding-right: 10px;
}

.get-free {
    background-color: var(--button-bg);
    color: var(--clr-bg-text);
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 550;
    box-shadow: 0 0 10px var(--button-shadow)
}

nav .get-free {
    font-size: var(--fs-nav-p);
}

#hamburger {
    padding: 5px;
    width: 20px;
    display: none;
}

.get-free:hover {
    background-color: var(--button-hover);
}

.nav-items:hover {
    background-color: var(--clr-border-hover);
}

/* Main */

main {
    display: flex;
    justify-content: center;

    line-height: 1.3;
}

#container {
    max-width: 1000px;
    width: 100%;
}



#bark-better {
    display: flex;

    padding: 80px 0;
    margin-top: 60px;
}

#bark-better div {
    flex-grow: 1;
    flex-basis: 0;

    margin: 20px;
}

#bark-better h1 {
    margin: 0;

    font-size: var(--fs-big-h1);
    line-height: 1.0;
}

#bark-better p {
    color: var(--clr-p);
    font-size: var(--fs-big-p);
}

#bark-better .get-free {
    margin-top: 10px;
    display: inline-block;
}

#company-logos {
    border-top: 1px solid var(--clr-border-hover);
    border-bottom: 1px solid var(--clr-border-hover);

    padding: 20px;
    text-align: center;
}

#company-logos img {
    height: 25px;
    margin: 10px;
}



.screenshot {
    padding-top: 80px;
}

.h1-text {
    width: 48%;
}

.h1-text p {
    color: var(--clr-p);
    padding-bottom: 20px;
    line-height: 1.5;
}

.screenshot h1 {
    margin: 0;
    font-size: var(--fs-h);
}

.screenshot h2 {
    text-align: center;
    color: var(--clr-quote);
    font-size: var(--fs-h);
    font-weight: 650;
}

.images {
    box-shadow: 0 0 20px var(--img-shadow);
    border-radius: 5px;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face p {
    margin: 0;
    color: var(--clr-p);
    font-size: var(--fs-name-title);
    font-weight: 320;
}

.face strong {
    font-size: var(--fs-name);
    font-weight: 450;
}

.face img {
    height: 50px;
    padding-right: 10px;
}

#last {
    padding-bottom: 80px;
}



#free-planContainer {
    display: flex;
    justify-content: center;

    border-top: 1px solid var(--clr-border-hover);
    border-bottom: 1px solid var(--clr-border-hover);
    padding: 80px 0;
}

#free-plan {
    width: 600px;
}

.get-barky-free {
    text-align: center;
    padding-bottom: 60px;
}

.get-barky-free p {
    color: var(--clr-p);
    padding: 0 20px 10px;
}

#list {
    background-color: var(--bg-list-bg-list);
    color: var(--clr-list-text);

    padding: 20px;
    border-radius: 5px;
}

.items {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--clr-border-hover);
}

#black {
    color: var(--clr-link);
}

#no-border-bottom {
    border-bottom: none;
}

.items img {
    height: 15px;
}



#every-team {
    text-align: center;
    padding: 50px 0;
}

#every-team h1 {
    font-size: var(--fs-h);
    margin: 0;
    font-weight: bold;
}

#every-team p {
    color: var(--clr-p);
    padding-bottom: 20px;
    font-weight: 450;
}

#every-team a {
    color: var(--clr-link);
    font-weight: 500;
}

#every-team a:hover {
    color: var(--link-hover);
}

#emoji-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.emojiText-boxes {
    text-align: center;
    padding: 20px;
}

.emojiText-boxes h2 {
    font-size: var(--fs-emoji);
}

#product {
    border-right: 1px solid var(--clr-border-hover);
    border-left: 1px solid var(--clr-border-hover);
}



#dogs-love-usContainer {
    padding: 50px 0;
}

#dogs-love-us {
    text-align: center;
}

#G2 {
    display: flex;

    padding-bottom: 40px;
}

#G2 div {
    flex-grow: 1;
    flex-basis: 0;
}

#G2 a {
    color: var(--clr-link);
}

#percent-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.percent {
    text-align: center;
    color: var(--clr-list-text);
    border-right: 1px solid var(--clr-border-hover);
}

.percent h1 {
    font-size: var(--fs-percent);
    margin: 0;
}

.percent p {
    margin: 0;
    font-size: var(--fs-big-p);
}

#no-border-right {
    border-right: none;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;

    border-top: 1px solid var(--clr-border-hover);
    padding: 80px 0;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

#info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;

    max-width: 1200px;
}

#barky-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
}

#barky-container p {
    font-size: var(--fs-footer-p);
}

#logo2 {
    height: 35px;
    margin-bottom: 20px;
}

.shares {
    height: 25px;
    margin-right: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--fs-footer-links);
}

.info a {
    text-decoration: none;
    color: var(--clr-list-text);
    font-weight: 450;
}

.info a:hover {
    text-decoration: underline;
}

/* 600px */

@media (max-width: 600px) {

    /* Header */

    .nav-items,
    nav a {
        display: none;
    }

    #hamburger {
        display: inline;
    }

    header,
    #product {
        border: none;
    }

    /* Main */

    #bark-better {
        flex-direction: column-reverse;
        text-align: center;
    }

    .screenshot {
        text-align: center;
    }

    .h1-text {
        width: 100%;
    }

    .screenshot h2 {
        font-size: var(--fs-quote);
    }

    #emoji-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    #percent-container {
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    #G2 {
        flex-direction: column;
    }

    /* Footer */

    footer {
        justify-content: start;
    }

    #footer-container {
        flex-direction: column;
        gap: 5px;
    }

    #info-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
    }
}